html {
    font-family: sans-serif;
}

button {
    background: white;
    color: black;

    border: 1px solid black;
    border-radius: 4px;

    padding: .75em;
}

select {
    border: 1px solid black;
    border-radius: 4px;

    padding: .75em 5px .75em 5px;
}

.text-center {
    text-align: center;
}

.text-bold {
    font-weight: bold;
}

#sessions h3 {
    margin-bottom: 0;
}

#sessionsList {
    margin-top: 5px;
    line-height: 1.5;
}